<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>F:\gitpro\skynet-vs2013\lua.exe</StartProgram>
    <StartArguments>examples client.lua</StartArguments>
    <StartWorkingDirectory>F:\gitpro\skynet-vs2013</StartWorkingDirectory>
  </propertyGroup>
</Project>